@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="pt-br" id="htmlpage" ng-app>
<head>
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BVF Informática - AgendaTec" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="BVF Informática - AgendaTec" />
    <meta name="url" content="www.bvfinfo.com/" />
    <meta name="author" content="BVF Informática" />
    <meta name="company" content="BVF Informática" />
    <meta name="revisit-after" content="7" />
    <meta http-equiv="Content-Language" content="pt-br">
    <title>..:: AgendaTec - Alteração de senha ::..</title>

    @Styles.Render("~/Content/css")

    @model AgendaTec.Portal.Models.ResetPasswordViewModel

    <style type="text/css">
        html {
            background: none;
        }

        @@media only screen and (max-width: 767px) {
            #HeaderContainer {
                min-height: 45px;
            }
        }
    </style>
</head>
<body>
    <div id="Container" class="wrap">
        <div id="ContentContainer">
            <div id="Center-Container">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top: 10px;">
                    <section id="loginForm">
                        <div class="legend">Senha alterada com sucesso</div>
                        <div class="control-group well">
                            <div class="form-group">
                                Sua senha foi alterada. Por favor @Html.ActionLink("clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div id="FooterContainer">
        <div id="Footer">
            <div class="col-xs-12">
                <small>&#174; @DateTime.Now.Year.ToString() - Todos direitos reservados.</small>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>