@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="pt-br" id="htmlpage" ng-app>
<head>
    <!-- META TAGS -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="BVF - AgendaTec" />
    <meta name="author" content="BVF" />
    <meta name="company" content="BVF" />
    <meta name="revisit-after" content="7" />
    <meta http-equiv="Content-Language" content="pt-br">

    <title>..:: AgendaTec - Criação de Usuário ::..</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="~/Content/plugins/jquery.maskedinput-1.3.1.min.js"></script>
    
    <script type='text/javascript'>
        $(function () {           
            $('#txtCPF').mask('999.999.999-99');
        });
    </script>

    @model AgendaTec.Client.Models.RegisterViewModel

    <style type="text/css">
        html {
            background: none;
        }

        @@media only screen and (max-width: 767px) {
            #HeaderContainer {
                min-height: 45px;
            }
        }
    </style>
</head>
<body>
    <div id="Container" class="wrap">
        <!-- Conteúdo -->
        <div id="ContentContainer">
            <!-- CONTAINER CONTENT -->
            <div id="Center-Container">
                <div class="col-lg-4 col-lg-offset-3 col-md-4 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top: 10px;">
                    <div class="legend">Criação de usuário</div>
                    <div class="control-group well">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.FirstName)
                                @Html.TextBoxFor(c => c.FirstName, new { @id = "txtFirstName", @style = "width: 100%;", @class = "k-textbox", @maxlength = "50" })
                            </div>

                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.LastName)
                                @Html.TextBoxFor(c => c.LastName, new { @id = "txtLastName", @style = "width: 100%;", @class = "k-textbox", @maxlength = "50" })
                            </div>

                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.CPF)
                                @Html.TextBoxFor(c => c.CPF, new { @id = "txtCPF", @style = "width: 100%;", @class = "k-textbox", @maxlength = "11", data_mask = "date" })
                            </div>

                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.Email)
                                @Html.TextBoxFor(c => c.Email, new { @id = "txtEmail", @style = "width: 100%;", @class = "k-textbox", @maxlength = "50" })
                            </div>
                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.Password)
                                @Html.PasswordFor(c => c.Password, new { @id = "txtPassword", @style = "width: 100%;", @class = "k-textbox", @maxlength = "20" })
                            </div>
                            <div class="form-group">
                                @Html.DisplayNameFor(c => c.ConfirmPassword)
                                @Html.PasswordFor(c => c.ConfirmPassword, new { @id = "txtConfirmPassword", @style = "width: 100%;", @class = "k-textbox", @maxlength = "20" })
                            </div>
                            <button type="submit" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Registrar</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <div id="FooterContainer">
        <div id="Footer">
            <div class="col-xs-12">
                <small>&#174; @DateTime.Now.Year.ToString() - Todos direitos reservados.</small>
            </div>
        </div>
    </div>
</body>
</html>